#container {
    width: 600px;
    margin: 0 auto;
}

#header {
    color: white;
    background-color: black;
}

h1 {
    font-size: 48px;
}

#aside {
    width: 250px;
    background-color: #d0d;
    float: left;
}

ul {
    margin: 0 auto;
}

#section {
    width: 350px;
    background-color: yellow;
    float: left;
}

#footer {
    background-color: #0d0;
    clear: both;
}
